.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: var(--s0);
  line-height: var(--s0)
}

.footer .nav-item.active {
  font-weight: bold;
  color: var(--color-accent);
}
