.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: var(--s0);
  line-height: var(--s0)
}

.footer > .switcher {
  align-items: flex-start;
}

.footer ul {
  list-style: none;
}

.footer .nav-item.active {
  font-weight: bold;
  color: var(--color-accent);
}
