---
import './DropCluster.css';

interface Props {
  variant?: 'default' | 'primary' | 'secondary';
}

const { variant }: Props = Astro.props;
const variant_class = variant
  ? `drop-cluster--${variant}`
  : 'drop-cluster--default';
const classes = `
  drop-cluster
  cluster
  ${variant_class}
`.trim();

---

<div class={classes}>
  <label>
    <input class="drop-cluster__toggle" type='checkbox'>
    <div class="drop-cluster__inner">
      <div class="drop-cluster__button" aria-label="Open Menu">
        <div class="drop-cluster__button-bar"></div>
        <div class="drop-cluster__button-bar"></div>
        <div class="drop-cluster__button-bar"></div>
      </div>
      <div class="cluster drop-cluster__items">
        <slot />
      </div>
    </div>
  </label>
</div>
