.drop-cluster {
  --gap: var(--s0);
  --block-size: calc(var(--gap) * var(--ratio));
}

.drop-cluster__inner,
.drop-cluster__inner.cluster {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--gap);
}

.drop-cluster__inner > * {
  block-size: var(--block-size);
}

.drop-cluster__button {
  position: relative;
  inline-size: 24px;
  block-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin-block: var(--gap);
  overflow: hidden;

  .drop-cluster__button-bar {
    width: var(--block-size);
    height: 2px;
    background-color: var(--color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .drop-cluster__button-bar {
    transition: all 500ms ease;
  }
}

.drop-cluster__toggle[type=checkbox]:checked + .drop-cluster__inner {
  .drop-cluster__button {
    inline-size: 24px;
    block-size: 24px;
    justify-content: center;
  }

  .drop-cluster__button-bar {
    position: absolute;
    background-color: var(--color-accent);
  }

  .drop-cluster__button-bar:nth-child(1) {
    transform: rotate(-135deg);
  }

  .drop-cluster__button-bar:nth-child(2) {
    opacity: 0;
  }

  .drop-cluster__button-bar:nth-child(3) {
    transform: rotate(135deg);
  }
}

.drop-cluster__items,
.drop-cluster__items.cluster {
  justify-content: flex-end;
  overflow: hidden;
  list-style: none;
  margin-block: var(--gap);
  padding: 0;
  flex-basis: 90%;
  position: relative;
}

.drop-cluster__items > * {
  font-size: var(--gap);
  line-height: var(--gap);
  overflow-wrap: break-word;
}

.drop-cluster__items > * a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.drop-cluster__toggle[type=checkbox] {
  position: absolute;
  display: block;
  visibility: hidden;
  margin-block: auto;
  width: var(--gap);
  height: var(--gap);
  cursor: pointer;
}

.drop-cluster__toggle[type=checkbox] + .drop-cluster__inner .drop-cluster__items > * {
  line-height: calc(var(--gap) * var(--ratio));
}

.drop-cluster__toggle[type=checkbox]:checked + .drop-cluster__inner .drop-cluster__items {
  height: auto;
}
