.drop-cluster {
  --gap: var(--s0);
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
}

.drop-cluster > * {
  height: calc(var(--gap) * var(--ratio));
}

.drop-cluster__items {
  align-items: flex-end;
  overflow: hidden;
  list-style: none;
  margin-block: var(--gap);
  padding: 0;
  flex-basis: 90%;
  position: relative;
}

.drop-cluster__items li {
  font-size: var(--gap);
  line-height: var(--gap);
  overflow-wrap: break-word;
}

.drop-cluster__items li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.drop-cluster__toggle[type=checkbox] {
  --icon-offsetx: 13px;
  --icon-offsety: 12px;
  display: block;
  visibility: hidden;
  margin-block: var(--gap);
  margin-inline-end: var(--icon-offsetx);
  width: var(--gap);
  height: var(--gap);
  cursor: pointer;
}

.drop-cluster__toggle[type=checkbox] + ul li {
  line-height: calc(var(--gap) * var(--ratio));
}

.drop-cluster__toggle[type=checkbox]::before {
  content: '\2630';
  height: var(--gap);
  width: var(--gap);
  display: block;
  visibility: visible;
  font-size: calc(var(--gap) * var(--ratio));
  line-height: var(--gap);
  color: var(--color-base);
  transition: all 500ms ease;
  transform-origin: var(--icon-offsetx) var(--icon-offsety);
}

.drop-cluster__toggle[type=checkbox]:checked::before {
  color: var(--color-secondary);
  transform: rotate(-405deg);
}

.drop-cluster__toggle[type=checkbox]:checked + ul {
  height: auto;
}
